// docs/assets/css/just-the-docs-default.scss
@import "color_schemes/custom";  // points to docs/_sass/color_schemes/custom.scss
@import "just-the-docs/default";  // optional: import base theme styles
